<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homework 13-14</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/tmpl.js"></script>
</head>

<body>
  <script type="text/html" id="mycont">
<div class="container">
  <div class="row"></div>
  <div class="col-xs-2"></div>
  <div class="col-xs-10">
      <h6>Тест по программированию</h6></div>
  <h6><%= content.question1 %></h6>
  <ul class="list-unstyled">
      <li class="col-lg-12"><input type="checkbox" id="one_first"><label class="small" for="one_one">Часть функционала jQuery, вынесенная в отдельный файл</label></li>
      <li class="col-lg-12"><input type="checkbox" id="two_first"><label class="small" for="two_one">Особые возможности jQuery</label></li>
      <li class="col-lg-12"><input type="checkbox" id="three_first"><label class="small" for="three_one">Набор функций использующих jQuery</label></li>
  </ul>
  <h6><%= content.question2 %></h6>
  <ul class="list-unstyled">
      <li class="col-lg-12"><input type="checkbox" id="one_second"><label class="small" for="one_two">Файл CSS стилей</label></li>
      <li class="col-lg-12"><input type="checkbox" id="two_second"><label class="small" for="two_two">Javascript файл</label></li>
      <li class="col-lg-12"><input type="checkbox" id="three_second"><label class="small" for="three_two">html файл</label></li>
  </ul>
</div>




  </script>
  <div class="container">


  <h6>3. Выберите пример шаблона</h6>
  <ul class="list-unstyled">
      <li class="col-lg-12"><input type="checkbox" id="one_third"><label class="small" for="one_three"><%= expr %></label></li>
      <li class="col-lg-12"><input type="checkbox" id="two_third"><label class="small" for="two_three"><= expr ></label></li>
      <li class="col-lg-12"><input type="checkbox" id="three_third"><label class="small" for="three_three"><% expr %></label></li>
  </ul>
  <div class="row"></div>
  <div class="col-xs-2"></div>
  <div class="col-md-10"><button type="button" class="btn btn-primary" id="check">Проверить мои результаты</button></div>
</div>



</body>

</html>
