.wrapper {}

.mycarousel {
    margin: 50px 10% 0 10%;
}

.mysel {
    margin: 0 auto;
    margin-top: 50px;
    width: 110px;
    height: 0px;
}

.spantext {
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

.forms {
    margin: 0 auto;
    width: 100px;
    height: 50px;
}

.form1 {
    display: inline-block;
    margin-top: 10px;
    width: 70px;
    margin-left: 20px;
    height: 0px;
}

.form2 {
    display: inline-block;
    margin-top: 20px;
    width: 70px;
    margin-left: 20px;
    height: 0px;
}

.niceCheck {
    width: 17px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
    background: url("../img/checkbox.png");
    overflow: hidden;
}

.niceChecked {
    background-position: 0 -17px;
}

.niceCheck input {
    margin-left: -100px;
}

div {
    margin-bottom: 10px;
}

.niceCheckDisabled {
    background-image: url("../img/checkbox-disabled.png");
}

input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label {
    cursor: pointer;
}

.lab2:after {
    content: " ";
    margin-top: 9px;
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../img/checkbox.png");
    position: relative;
    top: 3px;
}

input[type=checkbox]:checked+label:after {
    background-position: 0 -17px;
}

label:active:after {
    background-position: 0 -17px;
}

input[type=checkbox]:checked+label:hover:after {
    background-position: 0 -17px;
}

input[type=checkbox]:disabled+label:after {
    background: url("../img/checkbox-disabled.png");
}
