<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework 22-23</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/libs/tmpl.js"></script>
    <script src="js/common.js"></script>
</head>
<body>

    <script type="text/template" id="wrapper-template">
        <div class="wrapper">
            <ul class="item-list"></ul>
            <div class="controlls">
                <input type="text" class="item-value">
                <button class="item-add">Add</button>
            </div>
        </div>
    </script>

    <script type="text/template" id="list-template">
      <% for (var i = 0; i < data.length; i++) { %>
        <li><%= data[i] %><span data-value="<%= data[i] %>" class="item-delete"> x</span></li>
        <% }; %>
    </script>


</body>
</html>
